{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Комплекты{% endblock title %}

{% block content %}
    <section class="collections main">
        <div class="cw">
            <div class="breadcrumbs">
                <div class="breadcrumbs__container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumbs__item active"><a href="">Комплекты</a></li>
                    </ul>
                </div>
            </div>
            <div class="collections__wrapper">
                <div class="collections__header section-header">
                    <h1 class="title">Комплекты</h1>
                    <div class="subtitle">{{ collection_list.count }} позиции</div>
                </div>
                <div class="collections__container">

                    {% for collection in collection_list|slice:'1' %}
                        <div class="collections__item collection">
                            <div class="collection__container">

                                <div class="collection__image">
                                    <img src="{{ collection.image.url }}" alt="Коллекция">
                                </div>
                                <div class="collection__overlay">

                                </div>
                                <div class="collection__info-block">
                                    <div class="collection__title">
                                        {{ collection.name }}
                                    </div>
                                    <div class="collection__links">
                                        <a href="{{ collection.get_absolute_url }}"
                                           class="collection__btn btn transparent">Смотреть</a>
                                        <a href="" class="collection__btn btn">Отправить заявку</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for collection in collection_list|slice:'1:' %}
                        <div class="collections__item collection">
                            <div class="collection__container">
                                <div class="collection__image">
                                    <img src="{{ collection.image.url }}" alt="Коллекция">
                                </div>
                                <div class="collection__overlay">

                                </div>
                                <div class="collection__info-block">
                                    <div class="collection__title">
                                        {{ collection.name }}
                                    </div>
                                    <div class="collection__links">
                                        <a href="{{ collection.get_absolute_url }}"
                                           class="collection__btn btn transparent">Смотреть</a>
                                        <a href="" class="collection__btn btn">Отправить заявку</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                {% if is_paginated %}
                    <div class="pagination">
                        <div class="pagination__container">
                            <ul class="pagination__list">
                                {% if page_obj.has_previous %}
                                    <li class="pagination__item prev">
                                        <a href="?page={{ page_obj.previous_page_number }}" data-title="Предыдущая"></a>
                                    </li>
                                {% else %}
                                    <li class="pagination__item prev" style="pointer-events:none; opacity:0.6;">
                                        <a href="#" data-title="Предыдущая"></a>
                                    </li>
                                {% endif %}

                                {% for n in page_obj.paginator.page_range %}
                                    {% if page_obj.number == n %}
                                        <li class="pagination__item page active"><a href="?page={{ n }}">{{ n }}</a>
                                        </li>
                                    {% elif n > page_obj.number|add:-5 and n < page_obj.number|add:5 %}
                                        <li class="pagination__item page"><a href="?page={{ n }}">{{ n }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next and page_obj.next_page_number <= page_obj.paginator.page_range|length %}
                                    <li class="pagination__item next">
                                        <a href="?page={{ page_obj.next_page_number }}" data-title="Следующая"></a>
                                    </li>
                                {% else %}
                                    <li class="pagination__item next" style="pointer-events:none; opacity:0.6;">
                                        <a href="#" data-title="Следующая"></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>


    <section class="seo">
        <div class="cw">
            <div class="seo__container">
                <div class="default-text">
                    <p>Мы постоянно совершенствуем технологические процессы, наращиваем темпы производства и расширяем
                        ассортимент изготавливаемой продукции, в том числе новых видов отделок и цветов.</p>
                    <p>Для производства современных мебельных фасадов фабрикой Lovely Baby регулярно привлекаются
                        дизайнеры.</p>
                    <p>Клиенты ценят нас за высокое качество продукции, быструю обработку заявок, конкурентоспособные
                        цены, программы скидок, бонусов и выгодные условия работы. Наши покупатели получают качественную
                        продукцию, профессиональное консультирование, кратчайшие сроки поставок, в том числе и сложных
                        позиций.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}